body {
    width: 480px;
    height: 450px;
}

.chat-search-tab {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 30px;
    background-color: #F3EDF7;
}

.chat-search-tab>input {
    text-align: center;
    width: 70%;
    background-color: #F3EDF7;
    border: none;
}

.chat-search-tab>a {
    margin: 3px 5px 0 0;
    color: black;
}

.chat-back-tab {
    display: flex;
    margin-top: 380px;
    padding-left: 35px;
}

.chat-back-tab>a {
    color: black;
}