a {
    text-decoration: none;
}

.chat-menu-tab {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
}

.chat-menu-tab > div {
    display: flex;
    align-items: center;
}

.chat-menu-tab > div > a {
    color: black;
    font-size: 40px;
}

.chat-menu-tab > div > a > span {
    color: #D2D5F9;
    font-size: 40px;
}

.chat-left-side {
    width: 200px;
    height: 50px;
    font-size: 50px;
    text-align: center;
}

.chat-right-side {
    display: flex;
    gap: 20px;
}

.chat-mk-chat, .chat-mk-friend {
    width: 160px;
    height: 55px;
    background-color: #A6C8FF;
    font-size: 25px;
    text-align: center;
    line-height: 55px;
    border-radius: 5px;
}

.chat-mk-chat>a, .chat-mk-friend>a {
    color: white;
}

.chat-mk-chat>a>span, .chat-mk-friend>a>span {
    color: #FBB00E;
    background-color: white;
    border-radius: 5px;
    padding: 2px 5px;
}

.chat-search-tab {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: #F3EDF7;
    padding: 5px;
    border-radius: 5px;
}

.chat-search-tab>input {
    text-align: center;
    width: 65%;
    background-color: #F3EDF7;
    border: none;
    outline: none;
}

.chat-search-tab>a {
    color: black;
}

.chat-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 190px;
    width: 950px;
}

.chat-a {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #A6C8FF;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
}

.chat-b>a {
    color: black;
}

.chat-pending-btn {
    position: relative;
}

.chat-menu {
    display: none;
    position: absolute;
    left: 27px;
    top: 5%;
    width: 150px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 5px 0;
    z-index: 1000;
}

.chat-menu>li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: black;
}

.chat-menu>li:hover {
    background: #f5f5f5;
}

.chat-pending-btn:hover .chat-menu {
    display: block;
<<<<<<< HEAD
}
=======
}
>>>>>>> friend-page
