.friend-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.friend-container > section {
  width: 50%;
  margin-top: 20px;
  padding: 3px;

  /* background-color: #FBB00E; */
}

.friend-container > .left > .all {
  /* position: relative; */
  width: 100%;
  /* background-color: #0559f3; */
}

.friend-container > .left > .all > .friend {
  height: 50px;
  background-color: #6ec3ff;
  position: relative;
  display: flex;
  align-items: center;
}

.friend-container > .left > .all > .friend > h1 {
  position: absolute;
  width: 100px;
  margin-left: 24px;
  font-size: 25px;
  align-content: center;
}

.friend-container > .left > .all > .find {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.searchResult {
  background-color: rgb(247, 247, 247);
  border-radius: 3px;
  padding: 10px 5px;
  width: 452px;
  z-index: 10;
  display: none;
  position: absolute;
  top: 80px;
}
.findinput {
  border: 1px solid #6ec3ff;
  border-radius: 49px;
  width: 90%;
  height: 48px;
  margin: 25px auto;
  display: flex;
  align-items: center;
  padding-left: 24px;
  width: 90%;
}
.findinput input {
  font-size: 17px;
  width: 80%;
  outline: none;
  border: none;
}

.findinput button {
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35px;
}

.findinput button> img {
  width: 30px;
}
.friend-container > .left > .all > .friendalart {
  border-bottom: 1px solid #6ec3ff;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.friendalart-title{
    width: 100%;
}
.friendalart-title h1 {
  width: 25%;
  margin: 20px 10px;
  padding-left: 12px;
  padding-bottom: 11px;
  font-size: 20px;
  font-weight: 800;
  color: #444444;
  justify-self: left;
  border-bottom: 3px solid #6ec3ff;
}
.friend-container > .left > .all > .friendalart > .person {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 90%;
  padding: 16px 0;
}
.friend-container > .left > .all > .friendalart > .person:not(:last-child){
    border-bottom: 1px solid #c0c0c0;
}

.friend-container > .left > .all > .friendalart > .person > .profile {
  border-radius: 50%;
  width: 52px;
  background-color: #fbb00e;
}

.friend-container > .left > .all > .friendalart > .person > .word1 {
  width: 300px;
  margin-left: 10px;
}

.friend-container > .left > .all > .friendalart > .person > .word1 > .name {
  font-size: 20px;
  font-weight: 600;
}

.friend-container > .left > .all > .friendalart > .person > .word1 > .oneline {
  font-size: 16px;
  color: #6b6b6b;
}
.friend-container > .left > .all > .friendalart > .person > .requestbuttons {
  display: flex;
  align-items: center;
}
.requestbuttons > .accept{
  cursor: pointer;
  position: relative;
  border: none;
  background-color: #6ec3ff;
  color: white;
  width: 50px;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 8px;
}
.requestbuttons > .accept:hover {
  opacity: 0.8;
}
.requestbuttons > .reject{
   cursor: pointer;
  position: relative;
  border: none;
  background-color: #d6d6d6;
  color: white;
  width: 50px;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 8px;
}
.requestbuttons > .reject:hover {
  background-color: #ff4545;
}
.friend-container
  > .left
  > .all
  > .friendalart
  > .person
  > .requestbuttons
  > .accept {
  margin-right: 7px;
}

.friend-container > .left > .all > .usually > h1 {
  margin-left: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #6b6b6b;
}

.friend-container > .left > .all > .person {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.friend-container > .left > .all > .person > .profile {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: #fbb00e;
  margin-left: 24px;
}

.friend-container > .left > .all > .person > .word1 {
  /* border: 1px solid; */
  width: 200px;
  height: 30px;
  margin-left: 10px;
}

.friend-container > .left > .all > .person > .word1 > .name {
  font-size: 20px;
  font-weight: 600;
}

.friend-container > .left > .all > .person > .word1 > .oneline {
  /* border: 1px solid; */
  font-size: 16px;
  /* width: 100px; */
  color: #6b6b6b;
}

.friend-container > .left > .all > .person > button {
  cursor: pointer;
  position: absolute;
  border: none;
  background-color: white;
  height: 35px;
  left: 440px;
  margin-top: 10px;
  /* border: 1px solid; */
  /* height: 20px; */
}

.friend-container > .left > .all > .person > .friendmenu {
  display: none;
  position: absolute;
  border: 1px solid #6b6b6b;
  margin-top: 35px;
  left: 440px;
  font-size: 16px;
  width: 100px;
  text-align: center;
  color: #363636;
  padding: 4px 0;
  border-radius: 0px 10px 10px 10px;
  background-color: white;
  z-index: 3;
  overflow: hidden;
}
.friendmenu li{
  cursor: pointer;
  padding: 4px 0;
}
.friendmenu li:hover {
  background-color: #f1f1f1;
}

.friend-container > .left > .all > .person > .friendmenu.show {
  display: block;
}

.friend-container > .left > .all > hr {
  border: none;
  border-bottom: 1px solid #6ec3ff;
  margin-bottom: 20px;
}

.friend-container > .left > .all > .person > .friendmenu.show {
  display: block;
}

.friend-container > .right {
  /* border: #6EC3FF solid; */
  margin-left: 11px;
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.friend-container > .right > .nonechat {
  /* display: none; */
  width: 180px;
  height: 140px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin: -70px 0 0 -90px;
}

.friend-container > .right > .nonechat > img {
  /* display: none; */
  width: 110px;
  height: 110px;
}

.friend-container > .right > .nonechat > .startchat {
  /* display: none; */
  font-size: 20px;
}

.friend-container > .right > .friendlist {
  display: flex;
  margin-left: 24px;
  margin-top: 20px;
}

.friend-container > .right > .friendlist > .myfriend,
.im-in {
  cursor: pointer;
  border: 2px solid #6ec3ff;
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 5px 20px;
}

.friend-container > .right > .friendlist > .active {
  background-color: rgb(110, 195, 255, 0.55);
  font-weight: 700;
}
/* //------------------------------------- */
.friend-container > .right > .chatroom-wrapper {
  width: 100%;
  height: 650px;
  margin-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.friend-container > .right > .chatroom-wrapper > .chatroom {
  display: flex;
  border: 1px solid #6ec3ff;
  border-radius: 12px;
  width: 100%;
  height: 100px;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  /* margin-left: 14px; */
}
.friend-container > .right > .chatroom-wrapper > .chatroom > .chatimage {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background-color: #fbb00e;
  margin-left: 24px;
}
.friend-container > .right > .chatroom-wrapper > .chatroom > .chatimage img {
  border-radius: 50%;
  width: 66px;
  min-width: 66px;
  height: 66px;
  object-fit: cover;
}
.friend-container > .right > .chatroom-wrapper > .chatroom > .morechatimage {
  border-radius: 10%;
  width: 66px;
  height: 66px;
  background-color: #fbb00e;
  margin-left: 24px;
}
.friend-container > .right > .chatroom-wrapper > .chatroom > .word1 {
  width: 74%;
  margin-left: 10px;
}
.friend-container
  > .right
  > .chatroom-wrapper
  > .chatroom
  > .word1
  > .chatname {
  font-size: 20px;
  font-weight: 600;
}
.friend-container > .right > .chatroom-wrapper > .chatroom > .word1 > .oneline {
  /* border: 1px solid; */
  font-size: 16px;
  /* width: 100px; */
  color: #6b6b6b;
}
.friend-container > .right > .chatroom-wrapper > .chatroom > button {
  cursor: pointer;
  position: relative;
  border: none;
  background-color: white;
  height: 35px;
  top: -50px;
  right: -20px;
}

.friend-container > .right > .chatroom-wrapper > .chatroom > .chatmenu {
  display: none;
  position: absolute;
  border: 1px solid #6b6b6b;
  margin-top: -25px;
  right: -70px;
  font-size: 17px;
  width: 100px;
  height: 70px;
  text-align: center;
  color: #6b6b6b;
  padding: 10px 0;
  border-radius: 0px 10px 10px 10px;
  background-color: white;
  z-index: 3;
}
.friend-container > .right > .chatroom-wrapper > .chatroom > .chatnum {
  min-width: 37px;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #6ec3ff;
  position: relative;
  text-align: center;
  right: 50px;
  padding-top: 10px;
}
.friend-container > .right > .chatroom-wrapper > .chatroom > .chatmenu.show {
  display: block;
}

.friend-container > .left > .all > .person > .friendmenu.show {
  display: block;
}

/*  */
.searchResult > h1 {
  margin-left: 24px;
  font-size: 20px;
  font-weight: 350;
  color: #6b6b6b;
}
.searchResult > .person {
  width: 90%;
  padding: 16px 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.searchResult > .person:not(:last-child) {
  border-bottom: 1px solid #c0c0c0;
}
.searchResult > .person > .profile {
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: #fbb00e;
  margin-left: 12px;
}

.searchResult > .person > .word1 {
  width: 200px;
  margin-left: 10px;
}

.searchResult > .person > .word1 > .name {
  font-size: 20px;
  font-weight: 600;
}

.searchResult > .person > .word1 > .oneline {
  font-size: 16px;
  color: #6b6b6b;
}

.requestbuttons-accept {
  padding: 10px 30px;
  background-color: #6ec3ff;
  color: white;
  border-radius: 3px;
  margin-right: 10px;
}
.searchResult > .person > .requestbuttons > .reject {
  border: none;
  background-color: #6ec3ff;
  color: white;
  width: 55px;
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  margin-right: 10px;
}

/* 리스트에 아무것도 없는 경우 */

/* 친구 없음 */
.no-friend {
  justify-items: center;
  text-align: center;
  padding-top: 170px;
}
.no-friend > img {
  margin-left: 18px;
  width: 80px;
  align-self: center;
}
.no-friend > .no-friends-message p:first-child {
  font-size: 20px;
}
.no-friend > .no-friends-message p:last-child {
  font-size: 16px;
  margin-top: 7px;
    color: #707070;
}


/* 채팅창 없음 */
.no-chat-message {
  justify-items: center;
  text-align: center;
  padding-top: 170px;
}
.no-chat-message > img {
  width: 80px;
  align-self: center;
}
.no-chat-text p:first-child {
  font-size: 20px;
}
.no-chat-text p:last-child {
  font-size: 16px;
  margin-top: 7px;
    color: #707070;
}
