/* 구글 아이콘 */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* 배경색 */
.main-sky{
  background-color: #6EC3FF !important;
}
.main-orange{
  background-color: #F9AF0E !important;
}

/* 슬라이드 */
.main_slide{
  height: 700px;
  width: 100%;
}

.banner-section>.swiper {
  width: 1280px;
  height: 700px;
  background-color: rgb(211, 211, 211);
}

/* 문구란  main-wording-section*/
.main-wording-section{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin: 80px 0;
}
.main-wording-box,
.main-wording{
  width: 50%;
}

.main-wording>span{
  display: flex;
  justify-content: left;
  align-items: center;
}

.main-wording span{
  font-size: 2.5rem;
  font-weight: 500;
}
.main-wording .bold{
 font-size: 3.9rem;
 font-weight: 900;
 margin-left: 10px;
}
.main-wording .semibold{
  font-weight: 800;
}
.main-wording>span>p{
  margin: 0;
}

.main-wording-box>ul{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.main-wording-box>ul>li:not(.main-imoji){
  font-size: 1.25rem;
  height: 50px;
  padding: 15px 55px;
  border-radius: 50px;
  background-color: #EFEFEF;
}
.main-imoji{
  font-size: 2rem;
}

