/* 구글 아이콘 */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* 배경색 */
.main-sky{
  background-color: #6EC3FF !important;
}
.main-orange{
  background-color: #F9AF0E !important;
}

/* 슬라이드 */
.main_slide{
  height: 700px;
  width: 100%;
}

.banner-section>.swiper {
  width: 1280px;
  height: 700px;
  background-color: rgb(211, 211, 211);
}

/* 문구란  main-wording-section*/
.main-wording-section{
  display: flex;
  justify-content: center;
  align-items: flex-end;

  margin: 60px 0;
}
.main-wording-box{
  width: 50%;
}
.main-wording{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main-wording>span{
  display: flex;
  justify-content: left;
  align-items: center;
}

.main-wording span{
  font-size: 2.5rem;
  font-weight: 500;
}
.main-wording .bold{
 font-size: 3.9rem;
 font-weight: 900;
 margin-left: 10px;
}
.main-wording .semibold{
  font-weight: 800;
}
.main-wording>span>p{
  margin: 0;
}

.main-wording-box>ul{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}
.main-wording-box>ul>li:not(.main-imoji){
  font-size: 1.25rem;
  height: 50px;
  padding: 15px 55px;
  border-radius: 50px;
  background-color: #EFEFEF;
}
.main-imoji{
  font-size: 2rem;
}

/* 검색 부분 */
.main-serch{
  margin: 0 auto;
  max-width: 700px;
  padding: 50px 0;
}
.main-serch>span{
  display: flex;
  align-items: center;
  justify-self: left;

  font-size: 1.8rem;

  margin-left: 20px;
  height: 55px;
}
.main-serch>span .semibold{
  font-weight: 800;
}

.serch-bar{
  display: flex;
  justify-content: right;
  align-items: center;

  width: 700px;
  height: 70px;
  border: 1px solid #6EC3FF;
  border-radius: 70px;
}
.main-search-btn{
  margin-right: 7px;
  width: 60px;
  height: 60px;
  background-color: #6EC3FF;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.main-search-btn button{
  cursor: pointer;
}

.main-search-input{
  margin-right: 10px;
  width: 83%;
  height: 100%;

  display: flex;
  align-items: center;
}
.main-search-input input{
  width: 100%;
  height: 70%;

  font-size: 1.3rem;

  border: none;
  outline: none;
}
.main-search-btn button{
  border: 0;
  background-color: transparent;
}

.main-ranking{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 검색 순위 */
.main-rank{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.main-rank-title{
  width: 100%;
  position: relative;
  padding-right: 25px;
}
.main-rank-title span{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2.3rem;
}
.main-rank-title>span p{
  font-weight: 900;
}
.main-rank-title>span p:last-child{
  margin-left: 5px;
}
.main-textbox{
  position: absolute;
  left: 297px;
  top: 29%;
  height: 50px;
  width: 170px;
  z-index: -1;
}
.main-rank-els{
  width: 100%;
}
.main-rank-el{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #6EC3FF;
  margin-top: 30px;
}
.main-rank-el:first-child{
  margin-top: 0;
}
.main-rank-el ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-items: center;
}
.main-rank-el-num{
  font-weight: 900;
  font-size: 2.6rem;
  color: #F9AF0E;
  width: 10%;
  display: flex;
  justify-content: center;
}
.main-rank-el-con{
  width: 80%;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
.main-rank-el-go{
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-rank-el-go a{
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-ranking-match{
  height: 100%;
  width: 50%;
  padding-left: 40px;

  display: flex;
  flex-direction: column;
  align-items: start;
}
.main-ranking-match ul{
  width: 100%;
}
.main-rank-match{
  width: 100%;
  height: 150px;
  border-radius: 40px 0 0 0;
  padding: 0 20px 0 35px;
  margin-top: 10px;
  
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.7)),
    url(../../image/slide1.png);
  background-size: cover;
  background-origin: border-box;
  background-position: center center;

  transition: .4s;
}

.main-rank-match a{
  display: block;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 7px;
}
.main-rank-match span{
  color: #fff;
}
.main-rank-match span:first-child{
  font-size: 1.4rem;
  font-weight: 700;
  align-self: flex-start;
}
.main-rank-match span:nth-child(2),
.main-rank-match span:nth-child(3)
{
  font-size: 1.1rem;
}
.main-rank-match span:last-child{
  font-size: 1.7rem;
  font-weight: 800;
}

/* match list */
.main-matchlist{
  width: 100%;
  margin-top: 130px;
}
.main-matchlist>ul{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 60px;
}
.main-matchlist>ul>a{
  display: block;
}
.main-matchlist-els{
  width: 24%;
  height: 450px;
  border: 1px solid #6EC3FF;
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;

  box-shadow: 0px 0px 10px rgba(42, 44, 49, 0.3);
  cursor: pointer;
  overflow: hidden;
  transition: .3s;
}

.main-matchlist-els>ul{
  height: 50%;
  background-image: url(../../image/slide1.png);
  background-size: cover;
  background-position: center center;
}
.main-matchlist-el-bg{
  height: 100%;
  padding: 20px;

  display: flex;
  gap: 10px;
}
.main-matchlist-tag{
  display: block;
  height: 40px;
  width: 100px;
  border: 2px solid #F9AF0E;
  border-radius: 30px;
  background-color: rgba(228, 156, 0, 0.4);

  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}
.main-matchlist-el{
  position: relative;
  height: 50%;
  padding: 20px;
}
.main-matchlist-el-link{
  width: 100%;
  height: 100%;
  display: block;
}
.main-matchlist-el-tit{
  height: 50%;
}
.main-matchlist-el-tit span{
  font-size: 1.4rem;
  font-weight: 700;
}
.main-matchlist-el-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7px;
}
.main-matchlist-el-info span{
  font-size: 1.2rem;
  font-weight: 600;
}
.main-matchlist-el-btn{
  display: block;
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 40px;
  height: 40px;
  border-radius: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* hover event */
.main-rank-match:hover{
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.3)),
    url(../../image/slide1.png);
  transition: .4s;
}
.main-matchlist-els:hover{
  border: 1px solid #F9AF0E;
  transform: scale(1.03);
}
.main-matchlist-els:hover .main-sky{
  background-color: #F9AF0E !important;
}

/* 하단 고정 아코디언 매뉴 */
#Accordion_wrap{
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  width: 300px;
  
  z-index: 10;
}
.que{
  background-color: #6EC3FF;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  border-bottom: 1px solid #ffffff;

  display: flex;
  align-items: center;
}
.que>span{
  margin-left: 7px;
}

.que.on{
  background-color: #F9AF0E;
}
.que.on>span{
  font-weight: 700;
}

.anw {
  display: none;
  overflow: hidden;
  border-radius: 5px;
  background-color: #f4f4f2;
  font-size: 1rem;
  padding: 10px 20px;
}
/* .anw>span{
  display: block;
  padding: 17px 0 17px 7px;
  border-bottom: 1px solid #F9AF0E;
} */
.anw>span:last-child{
  border-bottom: 0;
}
/* .anw>span::before{
  content: "🔔";
  margin-right: 7px;
} */