@import url(font/font.css);
@import url(../common_css/custom.css);

/* 임시
.community_menubar > div,
.community_menubar > div > div {
  border: 1px solid;
} */
/*  */
* {
  box-sizing: border-box;
  text-decoration: none;
}

.community_menubar {
  display: flex;
  position: relative;
  justify-content: space-around;
  z-index: 5;
}

.community_menubar_title {
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.community_menubar_text {
  color: #262626;
  text-decoration: none;
}

.community_menubar_title_top {
  display: flex;
  margin-top: 2px;
  padding: 0 5%;
  text-decoration: none;
}

.community_menubar_title_list {
  padding-top: 5px;
  padding-right: 3px;
}

.community_menubar_title_list_button {
  display: flex;
  margin: 3px 0;
  padding: 0 5%;

  overflow: hidden;
}

.community_menubar_text,
.community_menubar_title_list_button_text {
  font-family: Pretendard;
  font-weight: 800;
}

/* 버튼 크기 조정 */
.community_menubar_title {
  width: 80vw;
  max-width: 180px;
}

.community_menubar_title_top,
.community_menubar_title_list_button {
  background-size: 170px;
  background-repeat: repeat;
  border-radius: 3%;
  align-items: center;
  width: 100%;
  height: 60px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.present-page {
  width: 50%;
  border-bottom: solid var(--menubar-color) 3px;
}

.community_menubar_text,
.community_menubar_title_list_button_text {
  font-size: clamp(1rem, 2.5vw, 1.5rem);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

.community_menubar_logo>div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 70px;
  height: 5vw;
  max-height: 70px;

  background-color: white;
  border-radius: 40%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.community_menubar_logo>div>img {
  max-width: 45px;
  height: auto;
  width: 70%;
  left: 0;
}

.community_menubar_title_list_button_icon>img {
  max-width: 50px;
  height: auto;
  width: 100%;
}



/* 배경 및 각 속성 지정*/
/* 운동 */
.community_menubar_title_top {
  background-color: #b9e2ff;
}

/* 리스트 숨기기 */
.community_menubar_title_list {
  height: 0;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.community_menubar_title:hover>.community_menubar_title_list {
  height: 350px;
  display: block;
}

.community_menubar_title:hover>.community_menubar_title_list:nth-child(3) {
  height: 15px;
}

/* 미디어쿼리 */
@media (max-width: 720px) {

  .community_menubar_logo,
  .community_menubar_title_list_button_icon {
    display: none;
  }

  .community_menubar_title_list_button_game_PUBG>.community_menubar_title_list_button_icon {
    display: flex;
  }

  /*  */
  .community_menubar_title_list_button_text,
  .community_menubar_title_list_button_exercise_basketball>.community_menubar_title_list_button_text,
  .community_menubar_title_list_button_hobby_lego>.community_menubar_title_list_button_text,
  .community_menubar_title_list_button_hobby_drone>.community_menubar_title_list_button_text {
    justify-content: center;
    margin: 0;
  }
}