@import url(/static/font/font.css);
* {
  box-sizing: border-box;
  font-family: "Pretendard";
}
body {
  margin: 20px;
}
hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0;
}
.attach-form {
  display: flex;
  justify-content: start;
  align-items: center;
}
.attach-form > a {
  margin-right: 5px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 120px;
  padding: 5px 0;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: blue;
}
.button > svg {
  max-width: 20px;
  max-height: 20px;
}
.button:hover {
  filter: opacity(0.7);
}

.font-setting {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}
.font-setting > div {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1000px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}
.now-page {
  display: inline;
  font-size: 1rem;
  margin-bottom: 10px;
}
.title-form {
  width: 100%;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: start;
}
.title-form > label {
  font-size: 1.2rem;
  font-weight: bold;
  width: 40px;
}
.title-form > input[type="text"] {
  width: calc(100% - 50px);
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.content-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}
.content-form > textarea {
  width: 100%;
  height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}
.title-form > input:focus,
.content-form > textarea:focus {
  outline: none;
  border-color: #4caf50;
}
.title-form > input:focus::placeholder,
.content-form > textarea:focus::placeholder {
  color: #4caf50;
}

/* 태그 부분 */
.tag {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}
.tag-container,
.tag-container a {
  display: flex;
  justify-content: start;
  align-items: center;
}
.tag-container input {
  min-width: 50px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin-right: 5px;
}
.tag input {
  height: 30px;
  min-width: 60px;
  width: 60px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
}
.tag-container a {
  margin-right: 10px;
  color: black;
  text-decoration: none;
}
.tag svg:hover {
  color: red;
}
.tag svg {
  width: 20px;
  height: 20px;
}
.tag-list,
.tag-list span,
.tag-list a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.tag-list a {
  max-width: 30px;
}
.tag-list > span {
  height: 100%;
  font-size: 1rem;
}
.tag-item {
  display: flex;
  height: 100%;
  align-items: center;
  background-color: rgb(162, 113, 226);
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 5px;
}

.tag-item a {
  margin-left: 5px;
  color: black;
  text-decoration: none;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 90%;
}
button:hover {
  background-color: #45a049;
}
