@font-face {
  font-family: Pretendard-Black;
  src: url(/root/font/Pretendard-Black.otf);
}
@font-face {
  font-family: Pretendard-Bold;
  src: url(/root/font/Pretendard-Bold.otf);
}
@font-face {
  font-family: Pretendard-ExtraBold;
  src: url(/root/font/Pretendard-ExtraBold.otf);
}
@font-face {
  font-family: Pretendard-Extralight;
  src: url(/root/font/Pretendard-ExtraLight.otf);
}
@font-face {
  font-family: Pretendard-Light;
  src: url(/root/font/Pretendard-Light.otf);
}
@font-face {
  font-family: Pretendard-Medium;
  src: url(/root/font/Pretendard-Medium.otf);
}
@font-face {
  font-family: Pretendard-Regular;
  src: url(/root/font/Pretendard-Regular.otf);
}
@font-face {
  font-family: Pretendard-SemiBold;
  src: url(/root/font/Pretendard-SemiBold.otf);
}
@font-face {
  font-family: Pretendard-Thin;
  src: url(/root/font/Pretendard-Thin.otf);
}
