.friendInfoContainer{
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* transition: all 0.3s ease; */
    border-right: 1px solid #ccc;
    z-index: 1000;
    overflow: hidden;
    transition: all 0.3s ease;
}
.friendInfoHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #6EC3FF;
    font-weight: bold;
    color: #fff;
}
.friendInfoList{
    background-color: white;
    height: 100vh;
    width: 299px;
    padding-top: 50px;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 20px;
}
.friendInfoList .info-nick{
    font-size: 22px;
    font-weight: 700;
    margin-top: 15px;
}
.friendInfoList .info-id{
    color: #aaaaaa;
    font-weight: 300;
}
.friendInfoList .info-intro{
    background-color: #f8f8f8;
    padding: 25px 20px;
    margin: 20px auto 10px;
}
.friendInfoList .info-etc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
}
.friendInfoList .info-etc p{
    display: flex;
    align-items: center;
    color: #4b4b4b;
}
.friendInfoList .info-etc img{
    height: 16px;
    margin-left: 5px;
}
.friendInfoList .info-etc p:last-child img{
    rotate: 45deg;
}

.friendInfoList li{
    display: flex;
    justify-content: center;  
    align-items: center;
    font-size: 16px;
}

.friendInfoList li:first-child>img{
    background-color: #FBB00E;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 60px;
    margin-bottom: 10px;

    display: flex;               /* flex 사용 */
    justify-content: center;     /* 수평 정렬 */
    align-items: center;         /* 수직 정렬 */
    text-align: center;          /* 다중 줄 텍스트 중앙 정렬용 */
    padding: 0;  
}
.friendInfoList>span{
    display: inline-block;
    border-radius: 30px;
    border: 1px solid #6EC3FF;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 25px;
    background-color: #cceaff;
    transition: 0.5s;
    cursor: pointer;
    font-size: 14px;
}