.match-modal-container {
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

}

.match-modal {
  width: 950px;
  height: 530px;
  background-color: white;
  padding: 30px 45px;
  margin: auto;
  position: relative;
  top: 15%;
  border: 1px solid #6ec2fe;
  border-radius: 15px 0 0 0;
}

.match-modal-header {
  width: 100%;
  height: 160px;
  border-bottom: 1px solid #c5c5c5;
}

.match-info-tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px 5px 5px;
}

.match-info-tag span:first-child {
  border-radius: 30px;
  border: 2px solid #6ec2fe;
  padding: 4px 25px;
  font-weight: 500;
  font-size: 16px;
}

.match-info-tag span:last-child img {
  height: 35px;
}

.match-modal-title {
  font-size: 26px;
  font-weight: 800;
  padding-left: 16px;
}

.match-info-user {
  display: flex;
  align-items: center;
  padding: 20px 5px;
}

.match-info-user button {
  border-radius: 30px;
  background-color: #6ec2fe;
  padding: 5px 25px;
  font-size: 14px;
  font-weight: 400;
}

.match-info-content {
  padding-top: 20px;
  margin-left: 6px;
}

.match-info-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.match-info-content>.match-info-tags p {
  border: 1px solid #6ec2fe;
  border-radius: 30px;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 14px;
}

.match-info-content p {
  text-align: start;
  font-size: 24px;
  font-weight: 800;
}

.match-info-content>.match-info-content-location {
  font-size: 26px;
  margin-top: 12px;
}

.match-info-content a {
  display: block;
  text-align: start;
  margin-top: 15px;
  cursor: pointer;
}

.match-info-content-map {
  margin-top: 20px;
  background-color: #e2e2e2;
  width: 400px;
  height: 150px;
}

.match-modal-info-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.match-symbol-container {
  padding: 15px 0;
  margin-right: 20px;
  display: flex;
  gap: 15px;

}

.match-symbol-el {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.match-symbol {
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.match-symbol span {
  font-size: 30px;
  color: white;
}

.match-symbol-el p {
  font-size: 14px;
  font-weight: 500;
}

.match-modal-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 320px;
}

.match-modal-info-right {
  width: 60%;
  height: 100%;
}

.match-modal-btn {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 10px 5px;
  margin-top: 50px;
}

.match-modal-btn p {
  margin-bottom: 15px;
  color: #959595;
}

.match-modal-btn>p>span {
  color: orange;
}

.match-modal-btn-el {
  text-align: center;
  line-height: 70px;
  width: 270px;
  height: 50px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.match-modal-btn-delete {
  text-align: center;
  line-height: 70px;
  width: 270px;
  height: 50px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(255, 71, 39);
}

.ok {
  background-color: #6ec2fe;
}

.no {
  background-color: #dcdcdc;
  color: #959595;
  cursor: default;
}

.custom-confirm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* 어두운 반투명 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.custom-confirm-content {
  background-color: white;
  padding: 24px 32px;
  border-radius: 3px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 280px;
}

.custom-confirm-content p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #2c2c2c;
  font-weight: 700;
}

.custom-confirm-content button {
  margin: 0 4px;
  padding: 8px 20px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.custom-confirm-content button:first-of-type {
  background-color: #6ec2fe;
  /* 확인 - 초록색 */
  color: white;
}

.custom-confirm-content button:first-of-type:hover {
  opacity: 0.8;
}

.custom-confirm-content button:last-of-type {
  background-color: hsl(0, 0%, 74%);
  /* 취소 - 빨간색 */
  color: white;
}

.custom-confirm-content button:last-of-type:hover {
  background-color: #d32f2f;
}
.match-button-contaier{
  position: relative;;
}

.match-error {
  position: absolute;
  width: 190px;
  height: 24px;
  background-color: #fbb00e;
  font-size: 12px;
  padding: 5px 8px;
  border-radius: 50px 50px 0px 50px;
  top: -15px;
  left: -150px;
  opacity: 0;
  transition: all 0.3s ease;
}