<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.match.Mapper.PostMapper">

    <!--  INSERT  -->
    <insert id="insertPost" useGeneratedKeys="true" keyProperty="postId">
        INSERT INTO post_tbl (userId, title, content, postCodeId, createAt)
        VALUES (#{userId}, #{title}, #{content}, #{postCodeId}, NOW());
    </insert>

    <insert id="insertPostRecommendation" useGeneratedKeys="true" keyProperty="postRecommendationId">
        INSERT INTO postRecommendation_tbl (postId, userId, reactionType, createAt)
        VALUES (#{postId}, #{userId}, #{reactionType}, NOW())
    </insert>

    <!--  SELECT  -->
    <select id="selectPostByPostId" resultType="postDetailResultDTO">
        SELECT
        p.postId,
        p.userId,
        u.nickName,
        p.title,
        p.content,
        p.createAt,
        p.viewCount,
        p.postCodeId,
        pc.category as postCategory,
        p.likeCount,
        p.dislikeCount
        FROM post_tbl p
        JOIN user_tbl u ON p.userId = u.userId
        JOIN postCode_tbl pc ON p.postCodeId = pc.postCodeId
        WHERE p.postId = #{postId}
    </select>

    <select id="selectAttachmentsByPostId">
        SELECT
        postAttachmentId,
        postId,
        userId,
        attachmentUrl,
        originalFileName,
        contentType
        FROM postAttachment_tbl
        WHERE postId = #{postId};
    </select>

    <select id="selectPostRecommendationByUserIdAndPostId" resultType="PostRecommendationDTO">
        SELECT
        postRecommendationId,
        postId,
        userId,
        reactionType,
        createAt
        FROM postRecommendation_tbl
        WHERE postId = #{postId} AND userId = #{userId}
    </select>

    <select id="selectPostList" resultType="PostListDTO">
        SELECT
        p.postId as postId,
        p.title,
        p.likeCount as likeCount,
        p.dislikeCount as dislikeCount,
        p.viewCount as viewCount,
        u.nickName as nickName,
        p.createAt as createAt
        FROM post_tbl p
        JOIN user_tbl u ON p.userId = u.userId
        WHERE p.postCodeId = #{postCodeId}
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (p.title LIKE CONCAT('%', #{searchKeyword}, '%') OR p.content LIKE CONCAT('%', #{searchKeyword}, '%'))
        </if>
        ORDER BY p.postId DESC LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countPosts" resultType="int">
        SELECT
        COUNT(postId)
        FROM
        post_tbl WHERE
        postCodeId = #{postCodeId}
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (title LIKE CONCAT('%', #{searchKeyword}, '%') OR content LIKE CONCAT('%', #{searchKeyword}, '%'))
        </if>
    </select>

    <!--  UPDATE  -->
    <update id="incrementViewCount">
        UPDATE post_tbl
        SET viewCount = viewCount + 1
        WHERE postId = #{postId}
    </update>

    <update id="incrementLikeCount">
        UPDATE post_tbl
        SET likeCount = likeCount + 1
        WHERE postId = #{postId}
    </update>

    <update id="decrementLikeCount">
        UPDATE post_tbl
        SET likeCount = likeCount - 1
        WHERE postId = #{postId}
    </update>

    <update id="incrementDislikeCount">
        UPDATE post_tbl
        SET dislikeCount = dislikeCount + 1
        WHERE postId = #{postId}
    </update>

    <update id="decrementDislikeCount">
        UPDATE post_tbl
        SET dislikeCount = dislikeCount - 1
        WHERE postId = #{postId}
    </update>

    <!--  DELETE  -->
    <delete id="deletePostRecommendation">
        DELETE FROM postRecommendation_tbl
        WHERE postId = #{postId} AND userId = #{userId}
    </delete>

    <delete id="deletePost">
        DELETE FROM post_tbl WHERE postId = #{postId};
    </delete>

</mapper>