@font-face {
  font-family: "Pretendard";
  src: url(./font/Pretendard-Thin.otf);
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url(./font/Pretendard-Light.otf);
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url(./font/Pretendard-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url(./font/Pretendard-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url(./font/Pretendard-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url(./font/Pretendard-SemiBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url(./font/Pretendard-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url(./font/Pretendard-ExtraBold.otf);
  font-weight: 800;
}
@font-face {
  font-family: "Pretendard";
  src: url(./font/Pretendard-Black.otf);
  font-weight: 900;
}

body {
  margin: 0;
  font-family: "Pretendard";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Pretendard";
}

.stop-scrolling {
  overflow: hidden;
}

.drag-prevent{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.loding-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  width: 100%;
  height: 100vh;
  position: relative;
}
.loding-page img{
  width: 150px;
  height: 150px;
}

.loding-page p{
  font-weight: bold;
  font-size: 24px;
  -webkit-user-select:all;
  -moz-user-select:all;
  -ms-user-select:all;
  user-select:all;
}

.loding-page button {
    position: absolute;
    min-width: 150px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #6EC3FF;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 8px;
    opacity: 0.01;
    top: 50%;
}

.loding-page button:hover {
    opacity: 0.1;
}