<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.match.Mapper.ChatMapper">

    <select id="selectAllChat">
        SELECT a.chatCode
        FROM chatparticipant_tbl a
        JOIN chat_tbl b
        ON a.chatCode = b.chatCode
        WHERE userId=#{userId} and type=#{type};
    </select>

    <select id="selectChatFriendRoom" resultType="ChatRoomDTO">
        SELECT
        #{chatCode} as chatCode,
        u.userId,
        u.nickName,
        (
        SELECT content
        FROM chatmessage_tbl
        WHERE chatCode = #{chatCode}
        ORDER BY createAt DESC
        LIMIT 1
        ) AS lastMessage,
        (
        SELECT COUNT(*)
        FROM chatmessage_tbl
        WHERE chatCode = #{chatCode}
        AND userId != #{userId}
        AND isRead = 0
        ) AS unreadCount
        FROM user_tbl u
        WHERE u.userId = (
        SELECT userId
        FROM chatparticipant_tbl
        WHERE chatCode = #{chatCode}
        AND userId != #{userId}
        );
    </select>

    <select id="selectChatGroupRoom" resultType="ChatRoomDTO">
        SELECT
        (SELECT count(*)
        FROM chatmessage_tbl
        WHERE chatCode = #{chatCode}
        AND messageId NOT IN (
        SELECT messageId
        FROM chatreceiver_tbl
        WHERE userId = #{userId}
        )
        ) AS unreadCount,
        a.chatCode As chatCode,
        a.hostId AS userId,
        a.chatTitle AS nickName,
        b.content AS lastMessage,
        b.createAt AS lastMessageAt
        FROM
        (SELECT hostId, chatTitle, chatCode FROM chat_tbl WHERE chatCode = #{chatCode}) a
        LEFT OUTER JOIN
        (SELECT content, createAt, chatCode FROM chatmessage_tbl WHERE chatCode = #{chatCode} ORDER BY createAt DESC LIMIT 1) b
        ON a.chatCode = b.chatCode;
    </select>

    <select id="selectChatType">
        SELECT type FROM chat_tbl where chatCode = #{chatCode};
    </select>

    <select id="selectOneUser" resultType="userDTO">
        SELECT userid,nickName FROM chatmessage_tbl where userId!=#{userId} limit 1;
    </select>
    
    <select id="selectAllMessage" resultType="MessageDTO">
        SELECT * FROM chatmessage_tbl where chatCode=#{chatCode} and createAt>=(SELECT createAt from chatparticipant_tbl where chatCode=#{chatCode} and userId =#{userId}) order by createAt;
    </select>

    <select id="selectOneRespMessage" resultType="MessageDTO">
        SELECT * FROM chatmessage_tbl where chatCode=#{chatCode} and userId=#{userId} and nickName=#{nickName} and content=#{content} ORDER BY createAt DESC LIMIT 1;;
    </select>

    <update id="markFriendMessagesAsRead">
        UPDATE chatmessage_tbl SET isRead=1 where userId = #{userId} and isRead = 0 and chatCode = #{chatCode};
    </update>

    <update id="markFriendMessagesAsReadOne">
        UPDATE chatmessage_tbl SET isRead=1 where messageId=#{messageId} and userId != #{userId};
    </update>

    <insert id="insertChatMessage">
        INSERT INTO chatmessage_tbl(chatCode, userId, nickName, content, createAt, isRead, isFile) VALUES(#{chatCode}, #{userId}, #{nickName}, #{content}, #{createAt}, #{isRead}, #{isFile});
    </insert>

    <select id="selectGetNickName">
        SELECT nickName from user_tbl where userId = #{userId};
    </select>

    <select id="countRoomMember">
        SELECT count(*) from chatparticipant_tbl where chatCode = #{chatCode};
    </select>

    <select id="getUnreadGroupMessages">
        SELECT messageId
        FROM chatmessage_tbl
        WHERE chatCode = #{chatCode}
        AND messageId NOT IN (
        SELECT messageId
        FROM chatreceiver_tbl
        WHERE userId = #{userId}
        ) and createAt >
        (SELECT createAt FROM chatparticipant_tbl where userId =#{userId} and chatCode = #{chatCode});
    </select>

    <insert id="insertReceivChatMessage">
        INSERT INTO chatreceiver_tbl VALUES(#{userID},#{messageId});
    </insert>



</mapper>

