<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.match.Mapper.ChatMapper">

    <select id="selectAllChat">
        SELECT a.chatCode
        FROM chatparticipant_tbl a
        JOIN chat_tbl b
        ON a.chatCode = b.chatCode
        WHERE userId=#{userId} and type=#{type};
    </select>

    <select id="selectChatFriendRoom" resultType="ChatRoomDTO">
        SELECT
            #{chatCode} AS chatCode,
            cm.unreadCount,
            u.userId,
            u.nickName,
            lm.content AS lastMessage,
            lm.createAt AS lastMessageAt
        FROM
            (SELECT COUNT(*) AS unreadCount
             FROM chatmessage_tbl
             WHERE chatCode = #{chatCode} AND userId != #{userId} AND isRead = 0) cm
                JOIN
                (SELECT userId, nickName
                 FROM user_tbl
                 WHERE userId = (SELECT userId
                                 FROM chatparticipant_tbl
                                 WHERE chatCode = #{chatCode} AND userId != #{userId})) u
        LEFT OUTER JOIN
            (SELECT content, createAt
            FROM chatmessage_tbl
            WHERE chatCode = #{chatCode}
            ORDER BY createAt DESC
            LIMIT 1) lm
            ON 1 = 1;

    </select>

    <select id="selectChatGroupRoom" resultType="ChatRoomDTO">
        SELECT
        (SELECT count(*)
        FROM chatmessage_tbl
        WHERE chatCode = #{chatCode}
        AND messageId NOT IN (
        SELECT messageId
        FROM chatreceiver_tbl
        WHERE userId = #{userId}
        ) AND
        createAt &gt;= (SELECT createAt FROM chatparticipant_tbl WHERE userId = #{userId} AND chatCode=#{chatCode})
        AND isRead = 0
        ) AS unreadCount,
        a.chatCode As chatCode,
        a.hostId AS userId,
        a.chatTitle AS nickName,
        b.content AS lastMessage,
        b.createAt AS lastMessageAt,
        (SELECT createAt FROM chatparticipant_tbl WHERE userId = #{userId} AND chatCode=#{chatCode}) as userCreateAt
        FROM
        (SELECT hostId, chatTitle, chatCode FROM chat_tbl WHERE chatCode = #{chatCode}) a
        LEFT OUTER JOIN
        (SELECT content, createAt, chatCode FROM chatmessage_tbl WHERE chatCode = #{chatCode} ORDER BY createAt DESC LIMIT 1) b
        ON a.chatCode = b.chatCode;
    </select>

    <select id="selectChatType">
        SELECT type FROM chat_tbl where chatCode = #{chatCode};
    </select>

    <select id="selectOneUser" resultType="userDTO">
        SELECT userId,nickName FROM user_tbl where userId = (SELECT userId FROM chatparticipant_tbl where userId!=#{userId} and chatCode= #{chatCode});
    </select>
    
    <select id="selectAllMessage" resultType="MessageDTO">
        SELECT * FROM chatmessage_tbl where chatCode=#{chatCode} and createAt&gt;=(SELECT createAt from chatparticipant_tbl where chatCode=#{chatCode} and userId =#{userId}) order by createAt;
    </select>

    <select id="selectOneRespMessage" resultType="MessageDTO">
        SELECT * FROM chatmessage_tbl where chatCode=#{chatCode} and userId=#{userId} and nickName=#{nickName} and content=#{content} ORDER BY createAt DESC LIMIT 1;
    </select>

    <update id="markFriendMessagesAsRead">
        UPDATE chatmessage_tbl SET isRead=1 where userId = #{userId} and isRead = 0 and chatCode = #{chatCode};
    </update>

    <update id="markFriendMessagesAsReadOne">
        UPDATE chatmessage_tbl SET isRead=1 where messageId=#{messageId} and userId != #{userId};
    </update>

    <insert id="insertChatMessage">
        INSERT INTO chatmessage_tbl(chatCode, userId, nickName, content, createAt, isRead, isFile) VALUES(#{chatCode}, #{userId}, #{nickName}, #{content}, #{createAt}, #{isRead}, #{isFile});
    </insert>

    <select id="selectGetNickName">
        SELECT nickName from user_tbl where userId = #{userId};
    </select>

    <select id="countRoomMember">
        SELECT count(*) from chatparticipant_tbl where chatCode = #{chatCode};
    </select>

    <select id="getUnreadGroupMessages">
        SELECT messageId
        FROM chatmessage_tbl
        WHERE chatCode = #{chatCode}
        AND messageId NOT IN (
        SELECT messageId
        FROM chatreceiver_tbl
        WHERE userId = #{userId}
        ) and createAt &gt;=
        (SELECT createAt FROM chatparticipant_tbl where userId =#{userId} and chatCode = #{chatCode}) AND isRead = 0;
    </select>

    <insert id="insertReceivChatMessage">
        INSERT INTO chatreceiver_tbl VALUES(#{userId},#{messageId});
    </insert>

    <select id="countReceivChatMessage">
        SELECT COUNT(*) FROM chatreceiver_tbl WHERE messageId=#{messageId};
    </select>

    <select id="countReadableParticipants">
        SELECT COUNT(*) from chatparticipant_tbl WHERE chatCode=#{chatCode} AND createAt &lt;= (SELECT createAt FROM chatmessage_tbl WHERE messageId=#{messageId});
    </select>

    <delete id="removeReceive">
        DELETE FROM chatreceiver_tbl WHERE messageId=#{messageId};
    </delete>
    
    <select id="participantUsers">
        SELECT userId FROM chatparticipant_tbl where chatCode = #{chatCode};
    </select>

    <insert id="insertFileChatMessage">
        INSERT INTO chatmessage_tbl(chatCode, userId, nickName, content, createAt, isRead, isFile) VALUES(#{chatCode}, #{userId}, #{nickName}, #{content}, #{createAt}, #{isRead}, #{isFile});
    </insert>

    <insert id="insertChatFile">
        INSERT INTO chatattachment_tbl(messageId, attachmentUrl, originalFileName, contentType) VALUES(#{messageId}, #{attachmentUrl}, #{originalFileName}, #{contentType});
    </insert>

    <select id="getChatFile" resultType="ChatFileDTO">
        SELECT attachmentUrl, originalFileName, contentType FROM chatattachment_tbl where messageId = #{messageId};
    </select>

    <!--댓글용-->
    <insert id="insertComment">
        INSERT INTO comment_tbl (postId, userId, nickName, content, createAt, commentTo, parentId)
        VALUES (#{postId}, #{userId}, #{nickName}, #{content}, #{createAt}, #{commentTo}, #{parentId})
    </insert>

    <select id="selectOneComment">
        SELECT * FROM comment_tbl where commentId = #{commentId};
    </select>

    <select id="getParentComment">
        SELECT * FROM comment_tbl where postId = #{postId} and parentId IS NULL order by createAt;
    </select>

    <select id="getChildComment">
        SELECT * FROM comment_tbl where parentId = #{commentId} order by createAt;
    </select>

    <update id="updateComment">
        UPDATE comment_tbl SET content = #{content} where userId = #{userId} and commentId = #{commentId}
    </update>

    <delete id="deleteComment">
        DELETE FROM comment_tbl where commentId = #{commentId} AND userId = #{userId}
    </delete>

    <select id="findOneToOneChatCode" resultType="string">
        SELECT a.chatCode
        FROM bb.chat_tbl a
        JOIN (
        SELECT chatCode
        FROM bb.chatparticipant_tbl
        WHERE userId IN
        <foreach item="userId" collection="userIds" open="(" separator="," close=")">
            #{userId}
        </foreach>
        GROUP BY chatCode
        HAVING COUNT(DISTINCT userId) = 2
        ) b ON a.chatCode = b.chatCode
        WHERE a.type = #{type}
    </select>

    <delete id="deleteChatParticipants">
        DELETE FROM bb.chatparticipant_tbl WHERE chatCode = #{chatCode}
    </delete>

    <delete id="deleteChat">
        DELETE FROM bb.chat_tbl WHERE chatCode = #{chatCode}
    </delete>



</mapper>

