<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.match.Mapper.FileMapper">

    <insert id="uploadFile" useGeneratedKeys="true" keyProperty="postAttachmentId">
        INSERT INTO postattachment_tbl (userId, attachmentUrl, originalFileName, contentType)
        VALUES (#{userId}, #{attachmentUrl}, #{originalFileName}, #{contentType});
    </insert>

    <delete id="deleteFile">
        DELETE FROM postattachment_tbl WHERE postAttachmentId = #{postAttachmentId};
    </delete>

    <delete id="deleteTempFileList">
        DELETE FROM postattachment_tbl WHERE postId IS NULL AND userId = #{userId};
    </delete>

    <select id="selectAt" resultType="AttachmentFileDTO">
        SELECT * FROM postattachment_tbl WHERE postAttachmentId=#{postAttachmentId};
    </select>

    <select id="selectFilesByPostId">
        SELECT * FROM postattachment_tbl WHERE postId = #{postId};
    </select>

    <select id="selectFileList">
        SELECT postId, attachmentUrl FROM postattachment_tbl WHERE userId = #{userId};
    </select>

    <select id="selectTempFile">
        SELECT attachmentUrl FROM postattachment_tbl WHERE postId =#{postId};
    </select>

    <update id="updatePostAttachment">
        UPDATE postattachment_tbl SET postId = #{postId} WHERE attachmentUrl = #{attachmentUrl};
    </update>

    <update id="updatePostAttachmentUrl">
        UPDATE postattachment_tbl
        SET attachmentUrl = #{newAttachmentUrl}
        WHERE postId = #{postId} AND attachmentUrl = #{oldAttachmentUrl};
    </update>

    <update id="updatePostIdAndUrl">
        UPDATE postattachment_tbl
        SET postId = #{postId}, attachmentUrl = #{attachmentUrl}
        WHERE postAttachmentId = #{postAttachmentId};
    </update>

    <!--  채팅  -->
    <select id="chatFileDownload">
        SELECT originalFileName FROM chatattachment_tbl where attachmentUrl like #{fileName};
    </select>

</mapper>