<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.match.Mapper.FileMapper">

    <select id="selectAt" resultType="AttachmentFileDTO">
        SELECT * FROM postattachment_tbl WHERE postAttachmentId=#{postAttachmentId};
    </select>

    <insert id="uploadFile" useGeneratedKeys="true" keyProperty="postAttachmentId" >
        INSERT INTO postattachment_tbl (postId, attachmentUrl) VALUES (#{postId}, #{attachmentUrl});
    </insert>

    <delete id="deleteFile">
        DELETE FROM postattachment_tbl WHERE postAttachmentId = #{postAttachmentId};
    </delete>

</mapper>