<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.match.Mapper.FileMapper">

    <!--  INSERT  -->
    <insert id="uploadFile" useGeneratedKeys="true" keyProperty="postAttachmentId">
        INSERT INTO postAttachment_tbl (userId, attachmentUrl, originalFileName, contentType, postId)
        VALUES (#{userId}, #{attachmentUrl}, #{originalFileName}, #{contentType}, #{postId});
    </insert>

    <!--  SELECT  -->
    <select id="selectAt" resultType="AttachmentFileDTO">
        SELECT * FROM postAttachment_tbl WHERE postAttachmentId=#{postAttachmentId};
    </select>

    <select id="selectFilesByPostId">
        SELECT * FROM postAttachment_tbl WHERE postId = #{postId};
    </select>

    <select id="selectFileList">
        SELECT postId, attachmentUrl FROM postAttachment_tbl WHERE userId = #{userId};
    </select>

    <select id="selectTempFileByUserId">
        SELECT * FROM postAttachment_tbl WHERE userId = #{userId} AND postId IS NULL;
    </select>

    <!--  UPDATE  -->
    <update id="updatePostAttachmentUrl">
        UPDATE postAttachment_tbl SET attachmentUrl = #{newAttachmentUrl}, postId = #{postId}
        WHERE attachmentUrl = #{oldAttachmentUrl};
    </update>

    <update id="updatePostId">
        UPDATE postAttachment_tbl
        SET postId = #{postId}
        WHERE attachmentUrl = #{attachmentUrl};
    </update>

    <!--  DELETE  -->
    <delete id="deleteFile">
        DELETE FROM postAttachment_tbl WHERE postAttachmentId = #{postAttachmentId};
    </delete>

    <delete id="deleteTempFileList">
        DELETE FROM postAttachment_tbl WHERE postId IS NULL AND userId = #{userId};
    </delete>



    <!--  채팅  -->
    <select id="chatFileDownload">
        SELECT originalFileName FROM chatattachment_tbl where attachmentUrl like #{fileName};
    </select>

</mapper>