<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.match.Mapper.MainMapper">

    <select id="getTopTags" resultType="com.club.match.Domain.DTO.TagDTO">
        SELECT tag, COUNT(*) AS count
        FROM bb.preferencetag_tbl
        GROUP BY tag
        ORDER BY count DESC, tag ASC
        LIMIT #{limit}
    </select>

    <select id="getAllMatches" resultType="com.club.match.Domain.DTO.MatchDto">
        SELECT
        matchId,
        creatorId,
        title,
        createAt,
        startTime,
        DATE_FORMAT(startTime, '%m-%d %H:%i') AS formattedStartTime,
        status,
        location,
        url,
        anonymousCondi,
        mannerCondi,
        genderCondi,
        chatCode,
        people,
        kategorie
        FROM bb.match_tbl
        WHERE startTime >= NOW()
        ORDER BY startTime ASC
        LIMIT 9
    </select>

    <select id="getRandomMatch" resultType="com.club.match.Domain.DTO.MatchDto">
        SELECT * FROM match_tbl
        WHERE status = 0
    </select>

<!--    <select id="getMatchSearchByKeyword" resultType="com.club.match.Domain.DTO.MatchDto">-->
<!--        SELECT DISTINCT-->
<!--        m.matchId,-->
<!--        m.title,-->
<!--        t.tag-->
<!--        FROM-->
<!--        match_tbl m-->
<!--        INNER JOIN-->
<!--        matchtag_tbl t ON m.matchId = t.matchId-->
<!--        WHERE-->
<!--        m.title LIKE CONCAT('%', #{keyword}, '%')-->
<!--        OR t.tag LIKE CONCAT('%', #{keyword}, '%')-->
<!--    </select>-->
    <select id="getMatchSearchByKeyword" resultType="com.club.match.Domain.DTO.MatchDto">
        SELECT DISTINCT
        m.matchId,
        m.title,
        m.status,
        m.startTime,
        -- 태그가 여러 개일 수 있으니 JOIN해서 여러 행이 나올 수 있음
        t.tag
        FROM
        match_tbl m
        LEFT JOIN
        matchtag_tbl t ON m.matchId = t.matchId
        WHERE
        m.title LIKE CONCAT('%', #{keyword}, '%')
        OR t.tag LIKE CONCAT('%', #{keyword}, '%')
        AND m.status = 0
    </select>



</mapper>