<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.match.Mapper.MainMapper">

    <select id="getTopTags" resultType="com.club.match.Domain.DTO.TagDTO">
        SELECT tag, COUNT(*) AS count
        FROM bb.preferencetag_tbl
        GROUP BY tag
        ORDER BY count DESC, tag ASC
        LIMIT #{limit}
    </select>

    <select id="getAllMatches" resultType="com.club.match.Domain.DTO.MatchDto">
        SELECT
        matchId,
        creatorId,
        title,
        createAt,
        startTime,
        DATE_FORMAT(startTime, '%m-%d %H:%i') AS formattedStartTime,
        status,
        location,
        url,
        anonymousCondi,
        mannerCondi,
        genderCondi,
        chatCode,
        people,
        kategorie
        FROM bb.match_tbl
        WHERE startTime >= NOW()
        ORDER BY startTime ASC
        LIMIT 9
    </select>

    <select id="getRandomMatch" resultType="com.club.match.Domain.DTO.MatchDto">
        SELECT * FROM match_tbl
        WHERE status = 0
    </select>
</mapper>