<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.club.match.Mapper.MatchMapper">
    <!-- 매칭 생성 -->
    <insert id="insertMatch" useGeneratedKeys="true" keyProperty="matchId" keyColumn="matchId">
        insert into match_tbl(creatorId, title, createAt, startTime, status, location, url, people, kategorie, anonymousCondi, genderCondi, chatCode) values(#{creatorId},#{title},#{createAt},#{startTime},#{status},#{location},#{url},#{people},
        #{kategorie},#{anonymousCondi},#{genderCondi},#{chatCode});
    </insert>
    <!-- 그룹채팅 생성 -->
    <insert id="insertChatting" useGeneratedKeys="true" keyProperty="chatCode" keyColumn="chatCode">
        insert into chat_tbl(type, hostId, chatTitle) values(#{type},#{hostId},#{chatTitle});
    </insert>
    <!-- 그룹채팅 참여 -->
    <insert id="insertChatparticipant">
        insert into chatparticipant_tbl values(#{chatCode}, #{userId}, #{createAt});
    </insert>
    <!-- 매칭 태그 테이블에 태그 추가 -->
    <insert id="insertTag">
        insert into matchtag_tbl values
        <foreach collection="tags" item="tag" separator=",">
            (#{matchId}, #{tag})
        </foreach>
    </insert>
    <!-- 매칭 참여 -->
    <insert id="joinMatch">
        insert into matchparticipant_tbl values(#{matchId}, #{participantId})
    </insert>

    <!-- 매칭 전체 리스트 조회 + 태그 -->
    <select id="matchAllList">
        SELECT m.matchId AS matchId, startTime, title, people, status, COUNT(DISTINCT mp.matchId) AS countPeople, t.tag, kategorie
        FROM match_tbl m
        INNER JOIN matchparticipant_tbl mp ON m.matchId = mp.matchId
        LEFT JOIN matchtag_tbl t ON m.matchId = t.matchId
        GROUP BY m.matchId, startTime, title, people, status, tag, kategorie;
    </select>

    <!-- 북마크 테이블 추가 -->
    <insert id="addBookmark">
        insert into bookmark_tbl values (#{userId}, #{matchId})
    </insert>
    <!-- 북마크 테이블 삭제 -->
    <delete id="removeBookmark">
        delete from bookmark_tbl where userId=#{userId} and matchId=#{matchId}
    </delete>
    <!-- 해당 유저 북마크 테이블 조회 -->
    <select id="userBookmark">
        select matchId from bookmark_tbl where userId=#{userId}
    </select>

    <!-- 모달용 단일 매치 정보 -->
    <select id="selectMatchOne">
        select matchId, title, startTime, status, location, anonymousCondi, genderCondi, chatCode, people, kategorie, nickName from match_tbl m
        join user_tbl u
        on m.creatorId = u.userId
        where matchId = #{matchId}
    </select>
</mapper>